In [10]:
import pandas as pd

In [11]:
prefix = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow"
url = f'{prefix}/yellow_tripdata_2019-10.csv.gz'
url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-10.csv.gz'

In [25]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype = dtype,
    parse_dates = parse_dates
)

In [13]:
df.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-10-01 00:19:55,2019-10-01 00:23:57,1,0.40,1,N,48,163,2,4.5,3.0,0.5,0.00,0.00,0.3,8.30,2.5
1,1,2019-10-01 00:40:19,2019-10-01 00:55:17,2,4.30,1,N,144,141,1,14.5,3.0,0.5,2.00,0.00,0.3,20.30,2.5
2,1,2019-10-01 00:06:52,2019-10-01 00:21:23,1,5.00,1,N,137,80,1,17.0,3.0,0.5,5.20,0.00,0.3,26.00,2.5
3,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1,0.00,1,N,25,25,4,-2.5,-0.5,-0.5,0.00,0.00,-0.3,-3.80,0.0
4,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1,0.00,1,N,25,25,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
5,2,2019-10-01 00:20:15,2019-10-01 00:20:29,1,0.00,1,N,193,193,1,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
6,2,2019-10-01 00:22:41,2019-10-01 00:22:48,1,0.00,1,N,193,193,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
7,2,2019-10-01 00:23:14,2019-10-01 00:23:18,1,0.00,1,N,193,193,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
8,1,2019-10-01 00:03:00,2019-10-01 00:13:37,3,2.20,1,N,163,239,1,10.5,3.0,0.5,2.85,0.00,0.3,17.15,2.5
9,1,2019-10-01 00:23:09,2019-10-01 00:50:34,1,13.00,1,N,234,9,1,37.5,3.0,0.5,9.45,6.12,0.3,56.87,2.5
10,2,2019-10-01 00:20:50,2019-10-01 00:48:51,1,13.05,1,N,138,13,1,36.5,0.5,0.5,7.00,0.00,0.3,47.30,2.5
11,2,2019-09-30 23:42:13,2019-10-01 00:02:43,1,10.25,1,N,132,132,1,29.5,0.5,0.5,6.16,0.00,0.3,36.96,0.0
12,1,2019-10-01 00:28:12,2019-10-01 00:50:14,1,12.10,1,N,138,51,2,34.5,0.5,0.5,0.00,6.12,0.3,41.92,0.0
13,2,2019-10-01 00:09:01,2019-10-01 00:09:05,2,0.00,5,N,264,264,1,45.0,0.0,0.5,0.00,0.00,0.3,45.80,0.0
14,1,2019-10-01 00:29:01,2019-10-01 00:34:58,1,1.00,1,N,7,7,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30,0.0
15,1,2019-10-01 00:19:27,2019-10-01 00:23:53,0,0.80,1,N,90,234,1,5.0,3.0,0.5,1.75,0.00,0.3,10.55,2.5
16,1,2019-10-01 00:45:01,2019-10-01 00:49:07,0,1.10,1,N,164,170,1,5.5,3.0,0.5,0.70,0.00,0.3,10.00,2.5
17,1,2019-10-01 00:20:08,2019-10-01 00:27:10,1,1.90,1,N,162,141,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5
18,2,2019-10-01 00:06:02,2019-10-01 00:11:15,1,1.44,1,N,230,90,1,6.0,0.5,0.5,1.96,0.00,0.3,11.76,2.5
19,2,2019-10-01 00:25:23,2019-10-01 00:35:11,1,1.70,1,N,249,79,1,8.5,0.5,0.5,2.46,0.00,0.3,14.76,2.5

In [15]:
!uv add sqlalchemy psycopg2-binary

Resolved 119 packages in 2.94s
Prepared 3 packages in 121ms
░░░░░░░░░░░░░░░░░░░░ [0/3] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 3 packages in 43ms
 + greenlet==3.3.0
 + psycopg2-binary==2.9.11
 + sqlalchemy==2.0.45

In [19]:
from sqlalchemy import create_engine
engine= create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [22]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [23]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [26]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0